.App {
  text-align: center;
  margin: 50px;
  border: 3px solid pink;
  border-radius: 1ch;
  padding-bottom: 50px;
}

button {
  padding: 5px;
  margin: 3px;
  border: none;
  border-radius: 1ch;
  font-weight: bold;
  font-size: 18px;
}

.pink {
  background-color: rgba(255, 198, 229, 255);
  color: rgba(174, 49, 116, 255);
}

.blue {
  background-color: rgba(160, 207, 238, 255);
  color: rgba(43, 101, 140, 255);
}

.container {
  padding: 100px 50px;
}

.hr {
  padding: 1px;
  background-color: lightgray;
  margin: 0px 150px;
  border: none;
}

input {
  margin-top: 50px;
  width: 12rem;
  padding: 10px;
  border: 1px solid lightgray;
  border-radius: 5px;
}
